<!-- for editing a TeamViewModel -->
<label class="col-2 col-form-label" for="team_id">Id</label>
<label class="col-2 col-form-label" for="team_name">Name</label>
<label class="col-2 col-form-label" for="team_skill">Skill</label>
<label class="col-2 form-check-label" for="team_active">Active</label>
<form method="POST" action="{{url_for('button_update_team_clicked')}}">
    <input type="text" readonly class="form-control col-10" name="id" id="team_id" placeholder="ID HERE" value="{{ team.oid }}">
    <input type="text" class="form-control col-10" name="name" id="team_name" placeholder="Name" value="{{ team.name }}">
    <input type="number" class="form-control col-10" name="skill" id="team_skill" placeholder="0" value="{{ team.skill }}">
    {% if team.active %}
    {% set checked = "checked" %}
    {% else %}
    {% set checked = "" %}
    {% endif %}
    <input type="checkbox" class="form-check-input col-10" name="active" id="team_active" {{  checked }}>

    {% if team.oid == "" %}
    <button type="submit" class="btn btn-primary">Create</button>
    {% else %}
     <button type="submit"
       id="update_button"
      value="update"
       class="btn btn-primary px-2">
         Update</button>
    {% endif %}

</form>