<!-- requires "teams" as a list of team view models -->
<table class="table table-sm table-striped table-responsive">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Skill</th>
            <th scope="col"></th>
            <th scope="col">Actions</th>
        </tr>
    </thead>

    <body>
        <form method="POST" action="{{url_for('button_create_team_clicked')}}">
            <tr>
                <!-- create team form -->
                <td><input type="text" class="form-control border-0" name="name" id="name" placeholder="Name"></td>
                <td><input type="number" class="form-control border-0" name="skill" id="skill" placeholder="0" ></td>
                <td><input type="checkbox" class="form-check" name="active" id="active" checked></td>
                <td><button type="submit" name="Create" class="btn btn-primary">Create</button></td>
            </tr>
        </form>
        <!-- update multiple teams form -->
        <form method="POST" action="{{url_for('button_update_team_list_clicked')}}">
        {% for team in teams %}
            <tr>
                <td><input type="text" class="form-control form-control-sm" name="name_{{ team.oid }}" id="name_{{ team.oid }}" placeholder="Name" value="{{ team.name }}"></td>
                <td><input type="number" class="form-control form-control-sm" name="skill_{{ team.oid }}" id="skill_{{ team.oid }}" placeholder="0" value="{{ team.skill }}"></td>
                {% if team.active %}
                {% set checked = "checked" %}
                {% else %}
                {% set checked = "" %}
                {% endif %}
                <td><input type="checkbox" class="form-check form-control-sm" name="active_{{ team.oid }}" id="active_{{ team.oid }}" {{  checked }}></td>
                <td>
                    <button type="submit" name="update" value="Update_{{ team.oid }}" class="btn btn-primary">Update</button>|
                    <button type="submit" name="update" value="Delete_{{ team.oid }}" class="btn btn-primary">Delete</button>
                    <input type="hidden" readonly class="form-control" name="id_{{ team.oid }}" id="{{ team.oid }}" placeholder="ID HERE" value="{{ team.oid }}">
                </td>
            </tr>
        {% endfor %}
            <tr>
                <td>
                    <button type="submit" name="update" value="All" class="btn btn-primary">Update All</button>
                </td>
            </tr>
        </form>
    </body>
</table>

<table
  id="table"
  data-toggle="table"
  data-toolbar=".toolbar"
  data-sortable="True"
  data-height="460"
  data-url="{{url_for('get_team_list')}}">
  <thead>
    <tr>
      <th data-field="id" data-sortable="true">ID</th>
      <th data-field="name" data-sortable="true">Name</th>
      <th data-field="skill" data-sortable="true">Skill</th>
    </tr>
  </thead>
</table>