<!-- for editing a TeamViewModel -->
<form>
    <div class="form-group">
        <label for="team_id">Id</label>
        <input type="text" readonly class="form-control" id="team_id" placeholder="ID HERE">
    </div>
    <div class="form-group">
        <label for="team_name">Name</label>
        <input type="text" class="form-control" id="team_name" placeholder="Enter Name">
    </div>
    <div class="form-group">
        <label for="team_skill">Skill</label>
        <input type="number" class="form-control" id="team_skill" placeholder="0">
    </div>
    <div class="form-group">
        <label for="team_active">Active</label>
        <input type="checkbox" class="form-control" id="team_active" value="True">
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>
