{% extends "main.html.j2" %}
{% block content %}
<table class="table">
    <thead class="thead-dark">
    <tr>        
        <th scope="col">Name</th>
        <th scope="col">Skill</th>
    </tr>
    </thead>
    <tbody>
    {% for team in teams %}
    <tr>
        <th scope="row">{{ team.name }}</th>
        <td>{{ team.skill }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}