{% block standings_content %}
    {% block standings_info %}
    {% endblock %}
    {% block standings_options %}
    {% endblock %}
    {% block standings_list_component %}
        <div class="row">
            <div class="col col-sm-6">
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">Rank</th>
                        <th scope="col">Name</th>
                        <th scope="col">W</th>
                        <th scope="col">L</th>
                        <th scope="col">T</th>
                        <th scope="col">Pts</th>
                        <th scope="col">G</th>
                        <th scope="col">GF</th>
                        <th scope="col">GA</th>
                        <th scope="col">GD</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for record in view.records %}
                    <tr>
                        <th scope="row">{{ record.rank }}</th>
                        <td><a href="{{ url_for('get_standings_for_team', team_id=record.team_id) }}">{{ record.team_name }}</a></td>
                        <td>{{ record.wins }}</td>
                        <td>{{ record.loses }}</td>
                        <td>{{ record.ties }}</td>
                        <td>{{ record.points }}</td>
                        <td>{{ record.games }}</td>
                        <td>{{ record.goals_for }}</td>
                        <td>{{ record.goals_against }}</td>
                        <td>{{ record.goal_difference }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endblock %}
{% endblock %}