<!-- this is a component to be plugged -->
<!-- requires current_data and a list of games -->
<div class="row">
    <div class="col">
            Season {{ current_data.current_year }}
            Day {{ current_data.current_day }}
        </div>
</div>
<div class="row">
    <div class="col">
        <ul class="list-group">
        {% for game_view in games %}
            <li class="list-group-item">
                {% include "games/components/short_game.component.html" %}
            </li>
        {% endfor %}
        </ul>
    </div>
</div>