{% extends "bootstrap/base.html" %}
{% block title %} This is an example {% endblock %}
{% block navbar %}
<div>
TEST ME OUT
</div>
{% endblock %}
{% block content %}
    <h1>Hello {{ user }}!</h1>
    <p>Welcome to the world of Flask!</p>
{% endblock %}