{% extends "main.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col">
            Season {{ view.current_data.current_year }}
        </div>
    </div>
    <div class="row">
        <div class="col col-6">
            {% set showYear = False %}
            {% set table_style = "table-sm" %}
            {% with records = view.records %}
                {% include "standings/components/standings.component.html" %}
            {% endwith %}
        </div>
    </div>
</div>
{% endblock %}