{% block action_values %}
{% set started = False %}
{% set setup = False %}
{% set finished = False %}
{% set competition_view = "" %}
{% endblock %}
{% block button options %}
    <!--
    <button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>

<button type="button" class="btn btn-link">Link</button>
-->
 <button type="button" class="btn btn-primary">Start Competition</button>
 <button type="button" class="btn btn-primary">Primary</button>
 <button type="button" class="btn btn-primary">Primary</button>
 <button type="button" class="btn btn-primary">Primary</button>
{% endblock %}